<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask Finance Tracker</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        {{ bootstrap.load_css() }}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top primary-bg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Flask Finance Tracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% set nav_items = [
                    {'caption':'Expenses', 'id_prefix':'expenses', 'dropdown':[
                        {'href':'/expenses', 'id':'expenses', 'caption':'Expense List'},
                        {'href':'/expenses/add', 'id':'expenses_add', 'caption':'Add Expense'}
                    ]},
                    {'href':'/graphs', 'id':'graphs', 'caption':'Graphs'}    
                ] %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% for item in nav_items %}
                            {% if item.dropdown %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle{% if active_page.startswith(item.id_prefix) %} active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{item.caption}}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        {% for subitem in item.dropdown%}
                                            <li><a class="dropdown-item" href="{{ subitem.href }}">{{ subitem.caption }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link{% if item.id == active_page %} active{% endif %}" href="{{ item.href }}">{{ item.caption }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block index %}{% endblock %}
        {% block expenses %}{% endblock %}
        {% block expenses_add %}{% endblock %}
        {% block expenses_edit %}{% endblock %}
        {% block graphs %}{% endblock %}

        {{ bootstrap.load_js() }}
    </body>
</html>