{% extends "base.html" %}

{% block styles %}
<style>
    .chevron-toggle { 
		transition: opacity 0.2s, max-width 0.2s, margin 0.2s;           
		max-width: 2em;
		overflow: hidden;
		opacity: 1;
	}
	.chevron-toggle.hidden {
		opacity: 0;
		max-width: 0;
		margin-left: 0 !important;
	}
</style>
{% endblock %}

{% block income %}
<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col"> <h3>Income List</h3> </div>        
        <div class="col text-end">
            <a class="btn btn-primary" href="/income/add" role="button">
                Add Income
            </a>
        </div>
    </div>
    <br>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <!-- MOBILE VIEW -->
    <div class="d-block d-md-none">
        {% for income_item in income %}
           <div class="card mb-2 income-card" data-income-id="{{ income_item.id }}">
                <div class="card-body py-2 px-3">
                    <div class="d-flex flex-column justify-content-between">
                        <div class="d-flex justify-content-between income-main-info">
                            <span class="fw-medium fs-5">
                                {{ income_item.source }}
                            </span>
                            <span class="text-primary fw-semibold fs-5">
                                {{ "$%.2f"|format(income_item.amount) }}
                            </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <small class="text-muted">
                                {{ income_item.date.strftime("%m/%d/%Y") }}
                            </small>
                            <div class="d-flex">
                                <div class="text-end">
                                    <span class="badge rounded-pill bg-secondary fw-medium">
                                        {{ income_item.category.name }}
                                    </span>
                                </div>
                                <i class="bi bi-chevron-down text-muted ms-2 chevron-toggle" role="button" data-bs-toggle="collapse" data-bs-target="#expandCard{{ income_item.id }}"></i>
                            </div>
                        </div>
                        <div class="collapse" id="expandCard{{ income_item.id }}">
                            <div class="d-flex justify-content-between pt-2">
                                <div>
                                    <span fs-6>
                                        {{ income_item.description }}
                                    </span>
                                </div>
                                <div class="d-flex justify-content-end align-self-end align-items-center">
                                    <div class="d-flex align-items-end">
                                        <a class="btn btn-primary btn-sm me-2" href="/income/edit/{{ income_item.id }}" role="button">Edit</a>
                                        <button type="button" class="btn btn-danger btn-sm me-2" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ income_item.id }}">Delete</button>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-chevron-up text-muted" role="button" data-bs-toggle="collapse" data-bs-target="#expandCard{{ income_item.id }}"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- DESKTOP VIEW -->
    <div class="table-responsive d-none d-md-block">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Source</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Account</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% if income|length > 0 %}
                {% for income_item in income %}
                <tr>
                    <th scope="row">{{ income_item.id }}</td>
                    <td>{{ income_item.date.strftime("%m/%d/%Y") }}</td>
                    <td>{{ "$%.2f"|format(income_item.amount) }}</td>
                    <td>{{ income_item.source }}</td>
                    <td>{{ income_item.description }}</td>
                    <td>{{ income_item.category.name }}</td>
                    <td>{{ income_item.account.name }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="/income/edit/{{ income_item.id }}" role="button">
                            Edit
                        </a>

                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ income_item.id }}">
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8" style="text-align: center">No income.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% for income_item in income %}
    <div class="modal fade" id="deleteModal-{{ income_item.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ income_item.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel-{{ income_item.id }}">Delete income?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this income?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form method="POST" action="/income/delete/{{ income_item.id }}" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% from 'bootstrap5/pagination.html' import render_pagination %}
    <div class="d-flex justify-content-end">
        {{ render_pagination(pagination) }}
    </div>
</div>
<br>
{% endblock %}

{% block scripts %}
<script>
	document.querySelectorAll('.income-card .collapse').forEach(collapseEl => {
		const card = collapseEl.closest('.income-card');
		const downArrow = card.querySelector('.bi-chevron-down');
	
		collapseEl.addEventListener('show.bs.collapse', () => {
			downArrow.classList.add('hidden');
		});
	
		collapseEl.addEventListener('hide.bs.collapse', () => {
			downArrow.classList.remove('hidden');
		});
	});
</script>
{% endblock %}